/*WEBSITE TITLE*/
.title{
    margin-top: 1cm;
    font-family: 'Roboto';
    align-items: center;
    float: none;
    align-content: center;
    font-size: 350%;
}

h3{
    font-size:120%; 
    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif !important;
}

@media only screen and (max-width: 400px) {
    .title {font-size:200%;}
    .subtitle {font-size: 16px}
}

@media only screen and (max-width: 600px) {
    .title {font-size:250%;}
    h3 {font-size: 100%}
}


/*FONT NAVBAR*/

li{
    font-size:120%; 
    line-height: 1.6875;
    font-family: 'Roboto', sans-serif; !important
}

@media only screen and (max-width: 400px) {
    li { font-size:15px;}
}


/*FONT PRODUCT*/
p {
    font-size:110%; 
    line-height: 1.6875;
    font-family: 'Open Sans', sans-serif; !important
}

@media only screen and (max-width: 400px) {
    p { font-size:85%;}
}

@media only screen and (max-width: 600px) {
    p { font-size:90%;}
}

/*#header {
  position: relative;
}*/

/*NAVBAR: Fixed at top*/
.topnav{
    z-index: 1;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #4ECDC4;
    top: 0;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #ffeead;}

ul.topnav li a.active {background-color: #FF6B6B;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.topnav.fixedattop {
  position: fixed; top: 0px;
}



/*IMAGE HEADER*/
* {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*PRODUCT GRID*/
#product{
    margin-top: 1%;
    position: absolute;
}

.block {
    position: absolute;
    background: #eee;
    padding: 20px;
    width: 300px;
    border: 1px solid #ddd;
    margin: 10%;
}

*{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


/*PRODUCT IMAGE*/
.margin_img {
    margin-bottom: 10%;
    position: absolute;
}


/*BUTTONS*/
.btn-color1 {
  background-color: hsl(0, 0%, 97%) !important;
  background-repeat: repeat-x;
}

.btn-color2 {
    background-color: hsl(0, 100%, 75%) !important;
    background-repeat: repeat-x;
}

.btn_center{
    padding-left: 2%;
    margin: 0 auto;width: 300px;
}



