/*Image Header*/
body,html {
  height: 100%;
}

body {
  padding-top: 50px;
}


.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('https://kbyhebrewcamp.files.wordpress.com/2013/06/sumer-clothes-for-kids.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.logo {
  color:skyblue;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}



/*products grid*/
#product{
    margin-top: 1%;
    position: absolute;
}

.block {
    position: absolute;
    background: #eee;
    padding: 20px;
    width: 300px;
    border: 1px solid #ddd;
}

.block {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

 